body {
  margin: 0 auto;
  max-width: 901px;
}

#author-info {
  display: flex;
  align-items: center;
}

#author-info img {
  margin-right: 10px;
}

h1 {
  font-family: 'Pacifico', cursive;
  margin: 0;
  padding: 0;
  line-height: 110%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

#company-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#text-wrap {
  display: flex;
}

#text-wrap img {
  width: 40px;
  height: 40px;
}

header {
  margin: 30px 0;
}

#motto {
  font-size: 30%;
  margin: 0;
  padding: 0;
}

#header-text {
  margin-left: 10px;
}

.bar {
  height: 15px;
  background-image: url('./img/hr-img.png');
  margin-bottom: 50px;
}

#pizza-picture {
  margin: 0 auto;
}

#social-links img:nth-child(7) {
  padding-left: 8px;
}

#pizza-head {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#pizza-head h2 {
  font-size: 300%;
  font-weight: 800;
  line-height: 80%;
  margin: 0;
  font-family: 'Big Shoulders Display', cursive;
}

#pizza-head p {
  margin: 4px 0;
  font-size: 80%;
  font-family: 'Coda', cursive;
}

#pizza-head svg {
  color: gray;
}

#print {
  position: absolute;
  bottom: 0;
  right: 0;
}

#pizza-picture {
  margin-bottom: 2rem;
}

#recipe-text p {
  line-height: 150%;
  font-family: 'Roboto Serif', serif;
  padding-bottom: 10px;
}

#recipe-card {
  background-image: url('./img/list-bg.png');
  display: flex;
  justify-content:flex-start ;
  margin-bottom: 2rem;
  box-shadow: 0px 5px 1px gray;
}

#recipe-card ul {
  margin: 2rem 2rem;
  font-size: large;
}

#recipe-card ul:first-child {
  margin-right: 8rem;
}